{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>Back-Office</h1>
    <a class="btn btn-primary" href="{{ path('app_product_index') }}">gerer les produits</a>
    test
{% endblock %}
